/*! CSS Used from: https://us-s.wayin.com/themes/base2/css/base.min.gz.css?u=1598895127000 */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
header,main,section{display:block;}
a{background:transparent;}
a:active,a:hover{outline:0;}
b{font-weight:bold;}
h1{font-size:2em;margin:.67em 0;}
img{border:0;}
button,input,select{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button,select{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type="checkbox"]{box-sizing:border-box;padding:0;}
select{color:black;}
.xComboOptions{max-height:200px;}
.ngx-notify{font-family:Arial,Helvetica,sans-serif;background:darkgray;color:white;border-bottom:1px solid #333;text-align:center;padding:10px;}
.ngx-notify-icon{display:none;}
.ngx-notify-content{vertical-align:middle;display:inline-block;}
@media all and (min-width:520px){
.ngx-notify-icon{vertical-align:middle;display:inline-block;}
.ngx-notify-icon:before{vertical-align:middle;display:inline-block;display:block;text-transform:none;font-weight:normal;font-style:normal;font-variant:normal;font-family:'socialvetica';speak:none;-webkit-font-smoothing:antialiased;content:"\2f";font-size:20px;margin-right:6px;}
.xCell{vertical-align:top;display:inline-block;width:100%;}
}
/*! CSS Used from: https://us-a.wayin.com/themes/2036/5886/theme.min.gz.css?u=1598916306000 */
.xComboInput:after{display:block;text-transform:none;font-weight:normal;font-style:normal;font-variant:normal;font-family:'socialvetica';line-height:1;speak:none;-webkit-font-smoothing:antialiased;}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
h1,h2,h3,p,label,ul{margin:0 0 10px;padding:0;}
p:last-child,label:last-child,ul:last-child{margin-bottom:0;}
html{font-size:62.5%;}
body{font-size:16px;font-size:1.6rem;font-family:gothambook;background-color:#fff;color:#202020;line-height:1.4;}
h1,h2,h3{font-weight:inherit;line-height:normal;}
h1{font-size:42px;font-size:4.2rem;color:#ad7b2e;line-height:1.2;font-family:inherit;text-align:left;margin:0 0 15px 0;}
h2{font-size:24px;font-size:2.4rem;color:#202020;line-height:1.2;font-family:gotham-bold;text-align:left;margin:0 0 20px 0;}
h3{font-size:24px;font-size:2.4rem;}
a{text-decoration:none;color:inherit;}
a:hover,a:focus{text-decoration:underline;color:inherit;}
img{display:block;}
img{max-width:100%;height:auto;}
ul{list-style-position:inside;list-style-type:disc;-webkit-padding-start:0;}
ul ul{padding-left:20px;list-style-type:circle;}
input,select,button{color:inherit;font:inherit;}
a:focus,button:focus,input:focus{outline:0;}
button{padding:0;}
input{-webkit-border-radius:0;-webkit-background-clip:padding-box;-moz-border-radius:0;-moz-background-clip:padding;border-radius:0;background-clip:padding-box;padding:10px 10px;border:rgba(32,32,32,0.5) 1px none;color:#202020;background-color:#fff;width:100%;}
input::-webkit-input-placeholder{color:#aaa;}
input:-moz-placeholder{color:#aaa;}
input::-moz-placeholder{color:#aaa;}
input:-ms-input-placeholder{color:#aaa;}
input:focus{border-color:#ad7b2e;}
select{width:100%;}
.xComboInput{-webkit-border-radius:0;-webkit-background-clip:padding-box;-moz-border-radius:0;-moz-background-clip:padding;border-radius:0;background-clip:padding-box;font-size:0;position:relative;white-space:nowrap;cursor:pointer;padding:10px 10px;border:rgba(32,32,32,0.5) 1px none;background-color:#fff;}
.xComboInput>*{font-size:16px;font-size:1.6rem;}
.xComboInput>.item{color:#202020;}
.xComboInput input[type="text"]{display:inline-block;vertical-align:middle;padding:0;outline:0;border:0;background-color:none;}
.xComboInput:after{font-size:20px;font-size:2rem;content:"\a8";line-height:1;position:absolute;top:0;right:0;bottom:0;display:block;border-left:rgba(32,32,32,0.5) 1px none;color:rgba(32,32,32,0.5);text-align:center;padding:10px 10px;padding-bottom:0;}
.xComboOptions{-webkit-border-radius:0;-webkit-background-clip:padding-box;-moz-border-radius:0;-moz-background-clip:padding;border-radius:0;background-clip:padding-box;position:absolute;top:0;right:0;left:0;z-index:5;overflow-y:auto;border:1px solid black;background-color:#fff;border:rgba(32,32,32,0.5) 1px none;border-top:0;z-index:4;}
.option{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;cursor:pointer;color:#202020;padding:10px 10px;}
.option:hover{background-color:#ad7b2e;color:#fff;}
.item{display:inline-block;vertical-align:middle;cursor:pointer;}
.xComponent{background-color:transparent;border:1px solid #ccc;}
.xComponent{padding:16px;margin-bottom:16px;}
.xRow:last-child .xCell:last-child .xComponent:last-child{margin-bottom:0;}
button{width:100%;border:0;}
button{font-size:24px;font-size:2.4rem;-webkit-border-radius:2px;-webkit-background-clip:padding-box;-moz-border-radius:2px;-moz-background-clip:padding;border-radius:2px;background-clip:padding-box;display:block;text-align:center;white-space:normal;cursor:pointer;border:1px none #ad7b2e;color:#fff;background-color:#ad7b2e;margin:15px 0 0 0;font-family:Gotham-Medium;}
button:hover,button:focus{background-color:#795620;color:#fff;text-decoration:none;}
button>span{display:block;padding:14px 40px;}
.xPage{margin-left:auto;margin-right:auto;max-width:1100px;}
.xSection{padding:0 16px;}
.xSectionContent{padding:16px;}
.xCampaignHeader{text-align:center;color:#202020;background-color:#fff;}
.xNavShareWrapper{font-family:inherit;padding:8px 8px 8px 8px;color:inherit;line-height:inherit;}
.xPageHeader{padding:0;}
.xCampaignHeader{border:0;padding:0;background-color:#fff;}
.xHtml{padding:16px;}
@media all and (min-width:520px){
.xCell{padding:8px;}
button{width:auto;}
.xRowInner{font-size:0;}
.xRowInner>*{font-size:16px;font-size:1.6rem;}
.xCampaignHeader{text-align:inherit;}
.xNavShareWrapper{font-size:0;padding:0;}
.xSection{padding:0 8px;}
.xSectionContent{padding-top:8px;}
.xPageInner{padding-bottom:8px;}
.xPageHeader{padding:0;}
.xPageHeader .xCell{padding:0;}
.xComponent:last-child{margin-bottom:0;}
}
.xPage{max-width:100%!important;}
.full.xCell,.xSection{padding-left:0;padding-right:0;padding-top:0;}
.xRow{max-width:100%;margin-left:auto;margin-right:auto;}
.xRow-1col_full{max-width:100%;}
.xRow-1col_full .xComponent{max-width:100%;margin-left:auto;margin-right:auto;}
.xRow-1col_full .xComponentInner{max-width:1100px;margin:auto;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
h1{font-family:linotype-didot,serif;font-weight:700;font-style:italic;}
a:hover,a:focus{text-decoration:none;}
header .xRow{margin-bottom:0;}
.xPageHeader{padding:50px 16px 0 16px;}
.xComponent{border:0;padding:0;}
input,.xComboInput,select{border:solid 1px #ccc;padding:10px 20px;background-color:#fff;border-radius:2px;}
.xComboOptions{border:solid 1px #ccc;}
input::placeholder{text-transform:uppercase;}
label{text-transform:uppercase;}
/*! CSS Used from: Embedded */
.selectWrapper{display:none;}
input[type=number]{-moz-appearance:textfield;}
.appContainer{max-width:1100px;margin:auto;}
.appContainer h1{text-align:center;font-size:4rem;line-height:4rem;}
.appContainer .searchContainer .inputContainer{text-align:center;}
.appContainer .searchContainer .inputContainer input{display:inline-block;width:auto;border:solid 1px #ccc;font-size:30px;padding:14px 20px 10px 20px;color:#707074;text-transform:uppercase;}
.searchContainer .inputContainer{padding:20px;}
button.search{margin-left:30px;margin-top:0;border-radius:3px;display:inline-block;width:auto;}
button.search span{line-height:1.1;font-size:26px;padding:23px 35px 18px 35px;}
.appContainer .filterContainer{margin:auto;border-bottom:2px solid #707074;vertical-align:middle;padding:30px 0 50px 0px;margin:0px 20px 30px 20px;}
.appContainer .filterContainer h2{display:block;}
.filters button{text-transform:uppercase;}
.filters .inputContainer label{text-transform:none;font-size:22px;color:#707074;padding-left:5px;}
.xComboInput{padding:14px 20px 10px 20px;font-size:28px;color:#707074;font-family:Gotham-Medium;}
.xComboInput .item{overflow:hidden;max-width:93%;}
.xComboInput:after{font-size:24px;color:#707074;padding:20px 10px 10px 10px;}
.xComboInput .item,.xComboOptions{color:#707074;font-size:18px;text-transform:uppercase;}
input#retail,input#restaurant{position:absolute;opacity:0;}
input#retail + label,input#restaurant + label{position:relative;cursor:pointer;padding:0;}
input#retail + label:before,input#restaurant + label:before{content:'';margin-right:5px;display:inline-block;vertical-align:text-top;width:20px;height:20px;background:#fff;border:solid 1px #707074;}
input#retail:hover + label:before,input#restaurant:hover + label:before{background:#fff;border:solid 1px #707074;}
input#retail:checked + label:before,input#restaurant:checked + label:before{background:#fff;border:solid 1px #707074;}
input#retail:checked + label:after,input#restaurant:checked + label:after{content:'U';color:#707074;font-family:socialvetica;position:absolute;left:3px;font-size:16px;top:3px;}
.inputContainer .error{font-size:14px;position:absolute;color:#ad7b2e;margin-top:6px;}
.countWrapper{padding:0 20px;}
h2.resultCount{margin-bottom:30px;font-family:gotham-medium;color:#202020;font-size:20px;}
span.bullet{padding:0 10px;font-size:20px;color:#ad7b2e;}
.countWrapper *{display:inline-block;}
span.showAll{text-transform:uppercase;font-family:gotham-medium;font-size:18px;text-decoration:underline;cursor:pointer;}
span.showAll:hover{color:#ad7b2e;}
.appContainer .filterContainer .inputContainer .fieldWrapper > *{display:inline-block;width:auto;}
.listings{display:flex;flex-direction:row;flex-wrap:wrap;}
.listing{display:inline-block;padding:10px;vertical-align:top;position:relative;}
h3.name{font-family:gotham-medium;font-size:22px;text-transform:uppercase;margin-bottom:5px;}
p.address{font-size:20px;color:#707074;margin-bottom:0px;}
p.distance{font-size:20px;}
p.distance,a.mapLink{display:inline-block;}
a.mapLink{position:relative;top:3px;}
a.mapLink img{width:15px;display:inline-block;}
a.openLink{font-size:20px;text-transform:uppercase;text-decoration:underline;font-family:gotham-medium;}
.listing .details{min-height:210px;padding:0 10px 10px 10px;display:flex;flex-direction:column;justify-content:space-between;margin-bottom:10px;}
.listing .details a{cursor:pointer;color:#707074;font-size:18px;}
.listing .details a:hover{text-decoration:none;cursor:pointer;}
li.page-item.next:after{font-size:12px;content:'>';font-family:socialvetica;position:relative;left:3px;}
li.page-item.last:after{font-size:24px;content:'»';font-family:socialvetica;position:relative;top:1px;left:6px;}
ul.pager{list-style:none;text-align:right;padding:0 20px;font-family:gotham-medium;}
ul.pager li{display:inline-block;padding:3px 6px;cursor:pointer;}
li.page-item.active,.page-item:hover{color:#ad7b2e;}
@media screen and (min-width:1100px){
.listing{width:32%;}
}
@media screen and (max-width:1100px){
.listing{width:48%;}
}
@media screen and (max-width:800px){
.xComboInput{padding:9px 20px 6px 20px;}
.xComboInput:after{padding:16px 10px 10px 10px;}
.searchContainer{padding:0 20px;}
.appContainer .filterContainer{padding:30px 20px 40px 20px;margin:0px 0px 40px 0px;}
.searchContainer .inputContainer{padding:20px 0;}
.filterContainer h2{margin-bottom:5px;}
.xComboInput .item,.xComboOptions{font-size:16px;}
button span,button.search span{font-size:18px;padding:19px 35px 14px 35px;}
button.search{margin-top:20px;margin-left:0;}
.filters button{width:initial;margin:auto;}
.appContainer .searchContainer .inputContainer input{width:100%;font-size:18px;}
h2.resultCount{margin-bottom:5px;}
.countWrapper{margin-bottom:20px;}
.countWrapper *{display:block;}
span.bullet{display:none;}
.listing{width:100%;}
.listing .details{min-height:180px;}
.inputContainer{padding:20px 0;}
}
@media screen and (min-width:800px){
.filters{display:flex;align-items:center;justify-content:space-between;}
.filters .xComboWrapper{width:50%;}
.filters .inputContainer{width:35%;padding-left:10px;}
.filters button{width:20%;}
}
/*! CSS Used from: Embedded */
.img img{max-width:140px;display:inline-block;padding:10px;}
.img,h2{text-align:center;}
/*! CSS Used fontfaces */
@font-face{font-family:'socialvetica';src:url('https://us-s.wayin.com/themes/base2/fonts/socialvetica/socialvetica.woff') format('woff'),url('https://us-s.wayin.com/themes/base2/fonts/socialvetica/socialvetica.ttf') format('truetype'),url('https://us-s.wayin.com/themes/base2/fonts/socialvetica/socialvetica.svg#ywftsvg') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:gothambook;src:url('https://us-a.wayin.com/themes/2036/5886/gothambook.eot');src:url('https://us-a.wayin.com/themes/2036/5886/gothambook.eot#iefix') format('embedded-opentype'),url('https://us-a.wayin.com/themes/2036/5886/gothambook.woff') format('woff'),url('https://us-a.wayin.com/themes/2036/5886/gothambook.ttf') format('truetype'),url('https://us-a.wayin.com/themes/2036/5886/gothambook.svg#ywftsvg') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:gotham-bold;src:url('https://us-a.wayin.com/themes/2036/5886/gotham-bold.eot');src:url('https://us-a.wayin.com/themes/2036/5886/gotham-bold.eot#iefix') format('embedded-opentype'),url('https://us-a.wayin.com/themes/2036/5886/gotham-bold.woff') format('woff'),url('https://us-a.wayin.com/themes/2036/5886/gotham-bold.ttf') format('truetype'),url('https://us-a.wayin.com/themes/2036/5886/gotham-bold.svg#ywftsvg') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:Gotham-Medium;src:url('https://us-a.wayin.com/themes/2036/5886/Gotham-Medium.eot');src:url('https://us-a.wayin.com/themes/2036/5886/Gotham-Medium.eot#iefix') format('embedded-opentype'),url('https://us-a.wayin.com/themes/2036/5886/Gotham-Medium.woff') format('woff'),url('https://us-a.wayin.com/themes/2036/5886/Gotham-Medium.ttf') format('truetype'),url('https://us-a.wayin.com/themes/2036/5886/Gotham-Medium.svg#ywftsvg') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:Gotham-Medium;src:url('https://us-a.wayin.com/themes/2036/5886/Gotham-Medium.eot');src:url('https://us-a.wayin.com/themes/2036/5886/Gotham-Medium.eot#iefix') format('embedded-opentype'),url('https://us-a.wayin.com/themes/2036/5886/Gotham-Medium.woff') format('woff'),url('https://us-a.wayin.com/themes/2036/5886/Gotham-Medium.ttf') format('truetype'),url('https://us-a.wayin.com/themes/2036/5886/Gotham-Medium.svg#ywftsvg') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:"linotype-didot";src:url("https://use.typekit.net/af/0f6052/00000000000000003b9b22f9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/0f6052/00000000000000003b9b22f9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/0f6052/00000000000000003b9b22f9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");font-display:auto;font-style:italic;font-weight:700;}